<nav>
    <h1>
        <a href="/" title="HOME">
            p410n3-blog
        </a>
    </h1>
    <div class="nav-links">
        <f:cObject typoscriptObjectPath="lib.textmenu" />
    </div>
</nav>

<div class="content">
    <f:cObject typoscriptObjectPath="lib.content" />
</div>

<footer>
    <f:render section="footer" />
</footer>

<f:section name="footer">
    <p class="footer-links">Find me on:
        <a href="https://github.com/p410n3" title="My GitHub account" target="_blank" rel="noreferrer">
            <em class="fa-github fa-lg fab"></em>
        </a>
        <a href="https://twitter.com/palone1337" title="My Twitter account" target="_blank" rel="noreferrer">
            <em class="fa-lg fa-twitter fab"></em>
        </a>
        <a href="https://t.me/pallip" title="My Telegram account" target="_blank" rel="noreferrer">
            <em class="fa-lg fa-telegram fab"></em>
        </a>
        <a href="https://steamcommunity.com/id/palone" title="My Steam account" target="_blank" rel="noreferrer">
            <em class="fa-lg fa-steam fab"></em>
        </a>
        <a href="https://reddit.com/u/GER_PalOne" title="My Reddit account" target="_blank" rel="noreferrer">
            <em class="fa-lg fa-reddit fab"></em>
        </a>
        <a href="https://www.youtube.com/channel/UC7nQjpVDqhL9H7yM5xz3jkQ" title="My YouTube channel" target="_blank" rel="noreferrer">
            <em class="fa-lg fa-youtube fab"></em>
        </a> 
        or write me a 
        <a href="mailto:p410n3@gmail.com" title="My Mail address" rel="noreferrer">
            <em class="fa fa-envelope fa-lg"></em>
        </a>
    </p>
</f:section>